<div class="center">
  <div class="">
    
<div class="card">
  <div class="card-header"><h4>Agregar empleado</h4></div>
  <div class="card-body">
  
         <form class="example-form" [formGroup]="form">
              <div>
                  <mat-form-field class="input" appearance="outline">
                      <mat-label>Documento</mat-label>
                        <input
                        matInput
                        formControlName ='document'
                        placeholder="Documento del empleado"
                      />
                      <mat-hint style="color: red; margin-top: 0px;" *ngIf="form.get('document')?.touched && form.get('document')?.errors?.['required']">El documento es requerido</mat-hint>
                      <mat-hint  style="color: red;" *ngIf="form.get('document')?.touched && form.get('document')?.errors?.['pattern']">El campo solo permite valores numericos</mat-hint>
                      <mat-hint  style="color: red;" *ngIf="form.get('document')?.touched && form.get('document')?.errors?.['minlength']">El campo debe llevar Minimo 6 digitos</mat-hint>
                    </mat-form-field>
              </div>
              <div>
                  <mat-form-field class="input" appearance="outline">
                      <mat-label>Nombre</mat-label>
                        <input
                        matInput
                        formControlName ='nameUser'
                        placeholder="Nombre empleado"
                      />
                      <mat-hint style="color: red; margin-top: 0px;" *ngIf="form.get('name')?.touched && form.get('name')?.errors?.['required']">El nombre es requerido</mat-hint>
                      <mat-hint  style="color: red;" *ngIf="form.get('name')?.touched && form.get('name')?.errors?.['minlength']">El campo Debe llevar Minimo 3 letras</mat-hint>
                    </mat-form-field>
              </div>
              <div>
                <mat-form-field class="input" appearance="outline">
                  <mat-label>Apellido</mat-label>
                  <input
                    matInput
                    formControlName="lastName"
                    placeholder="Apellido del empleado"
                  />
                <mat-hint style="color: red; margin-top: 0px;" *ngIf="form.get('lastName')?.touched && form.get('lastName')?.errors?.['required']">El apellido es requerido</mat-hint>
                </mat-form-field>
              </div>
              <div>
                  
                <mat-form-field class="input" appearance="outline">
                  <mat-label>Telefono</mat-label>
                  <input
                    matInput
                    formControlName = 'phone'
                    placeholder="Telefono empleado"
                  />
                <mat-hint  style="color: red;" *ngIf="form.get('phone')?.touched && form.get('phone')?.errors?.['required']">El telefono es requerido</mat-hint>
                <mat-hint  style="color: red;" *ngIf="form.get('phone')?.touched && form.get('phone')?.errors?.['maxlength']">Maximo 10 numeros</mat-hint>
                <mat-hint  style="color: red;" *ngIf="form.get('phone')?.touched && form.get('phone')?.errors?.['minlength']">Minimo 10 numeros</mat-hint>
                <mat-hint  style="color: red;" *ngIf="form.get('phone')?.touched && form.get('phone')?.errors?.['pattern']">El campo solo permite valores numericos</mat-hint>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="input" appearance="outline">
                  <mat-label>Direccion</mat-label>
                  <input
                    matInput
                    name="address"
                    formControlName="addressUser"
                    placeholder="Direccion del empleado"
                  />
                <mat-hint style="color: red; margin-top: 0px;" *ngIf="form.get('address')?.touched && form.get('address')?.errors?.['required']">La dirección es requerida</mat-hint>
                </mat-form-field>
              </div>
              
              <div>
                  <button (click)="addEmployee()" class="input" mat-raised-button type="submit" [disabled]="form.invalid" color="primary">Agregar</button>
              </div>
         </form>
         
        </div>
</div>
  </div>
</div>